.TimeTable {
  max-width: 100%;
  background: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 500px;
  padding: 50px;
}

h4, h6 {
  text-align: center;
}

p {
  font-size: 0.88em;
}

h4, h6, p, span, .selectTime {
  color: #636e72;
}

/* Horizontal line */
.line {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #b2bec3;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

/* 'Noon' styling */
.line span {
    background:#fff;
    padding:0 10px;
}
